{% extends 'base.html' %}


{% block content %}
<div class="content">

  <h1>Fleet Management System</h1>
  <ul>
    <li>User can register, login and logout</li>
    <li>Add and remove cars.</li>
      <ul><li>Cars identified by slug</li></ul>
    <li>Enter car refueling details (mileage, liters, city).</li>
      <ul><li>Validator - User can't enter lower mileage</li></ul>
    <li>Report services (OIL, Malfunctions, Tyre change)</li>
    <li>See details of specific car</li>
      <ul>
        <li>Current mileage</li>
        <li>Mileage to next service</li>
        <li>Last service mileage</li>
        <li>Refuelings</li>
        <li>Services</li>
        <li>User can report Service Done</li>
      </ul>
    <li>"Pojazdy" menu button dynamicaly shows cars from database</li>
    <li>Messages after specific activities</li>
      <ul>
        <li>Success message</li>
        <li>Warning message</li>
        <li>Error message</li>
      </ul>
    <li>FMS sending auto reports via email when oil service is close (3000km to oil service)</li>
    <ul>
      <li>Auto REMINDER via email when oil service is close (=< 3000 km)</li>
      <li>Auto service report when is active</li>
    </ul>
    <li>Warning icon in header navigation bar appear when any of service is active.</li>
    <li>Active services icon is href and shows cars with numer of active services per car</li>
    <li>Web is flexible for mobiles</li>
  </ul>
</div>

{% endblock content %}







